.homepage {
    background-color: #07ac72;
}

.menu-con1 {
    background-color: #099e6a!important;
}

.menu-br {
    border-top-color: #099e6a;
}

.hottext-more {
    color: #34a637;
}

.site-item .site-text1,
.line-text {
    color: #118850;
}
