.homepage {
    background-color: #f00;
}

.menu-con1 {
    background-color: #f00!important;
}

.menu-br {
    border-top-color: #f00;
}

.hottext-more {
    color: #f00;
}

.site-item .site-text1,
.line-text {
    color: #f00;
}
