.homepage{
	background-color: #ff0;
}
.menu-con1{
	background-color: #ff0!important;
}
.menu-br{
	border-top-color: #ff0;
}
.hottext-more{
	color: #ff0;
}
.site-item .site-text1,
.line-text{
	color: #ff0;
}